<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
		<key>UIImageName</key>
		<string>avocado-fact-1</string>
		<key>UIColorName</key>
		<string>ColorAppereanceAdaptive</string>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
